/* =======================

TABLE OF CONTENTS

1. Color Palette
2. Reset Styles


======================= */



/* =======================
1. Color Palette & Fonts
font-family: 'Norwester', arial;
font-family: 'Airstream', arial;
font-family: 'Roboto', sans-serif;

======================= */



/* =======================
2. Reset Styles
======================= */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html{
    overflow:hidden;
    font-weight:100;
}

body {
    font-family: 'Norwester', arial;
    font-size: 35em;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
    height: 100%;
    position:absolute;
}
svg text {
    text-anchor: middle;
}
svg mask rect {
    fill: rgba(255, 255, 255, 0.9);
}
svg > rect {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}
#video{
  position: absolute;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

/* =======================
3. Middle Nav
======================= */
#Midline {
  background-color: black;
  height: 3rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  color: white;
  font-family: 'Norwester', arial;
  z-index: 2;
  display: block;
  box-sizing: border-box;
  background-color: black;
  border: none;
  vertical-align: middle;
  margin: 0em auto;
  padding-top: .2em;
 }

/* =======================
4.PopOut - About
======================= */


#aboutMe{
background-color: #F6201D;
opacity: .9;
height: 17em;
width: 100em;
padding: 10px;
margin: 10px;
color: black;
border: outset black 7px;
z-index: 10;
text-align: center;
vertical-align: middle;
font-size: .05em;
/*white-space: normal;*/
overflow:scroll;
margin:0 auto;
}


#work{
background-color: #1050b7;
opacity: .9;
height: 17em;
width: 100em;
padding: 10px;
margin: 10px;
color: black;
border: outset black 7px;
z-index: 10;
text-align: center;
font-size: .05em;
/*white-space: normal;*/
overflow:scroll;
margin:0 auto;

}

#contact{
background-color: #10b742;
opacity: .9;
height: 17em;
width: 100em;
padding: 10px;
margin: 10px;
color: black;
border: outset black 7px;
z-index: 10;
text-align: center;
vertical-align: middle;
font-size: .05em;
/*white-space: normal;*/
overflow:scroll;
margin:0 auto;
}



/* =======================
4.PopOut - CONTENT
======================= */

p {
  font-size: 10px;
  width: 100%;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
  overflow-wrap: all;
  margin:0 auto;
  display: block;
  padding: 0em;
  margin: 0em;
}

h2{
  font-size: 2em;
  font-family: 'Norwester', arial;
  padding: .2em;
  margin: 0em;
}

h3{
  font-size: .6em;
  font-family: 'Oswald', sans-serif;
  margin: 0em;
  color: white;
  padding: .2em;
}


/* =======================
REEL VIDEO
======================= */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 1px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





/* =======================
BUTTONS
======================= */

#buttonX {
  background-color: transparent;
  font-size: 1.5rem;
  color: black;
  -webkit-text-stroke: 1px grey;
  text-align: left;
  font-family: 'Norwester', arial;
  z-index: 5;
  border: none;
  display: block;
  float: left;
 }


#button1 {
  background-color: black;
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'Norwester', arial;
  z-index: 5;
  border: none;
  padding-left: 2em;
  padding-top: .5em;
  display: block;
  float: left;
 }

button:focus {
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
}

#Midline:hover {
  animation: border-flicker 2s linear forwards;
}

#Midline:hover button {
  animation: text-flicker 2s linear forwards;
}


@keyframes text-flicker {
  2% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  3% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  6% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  9% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  11% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  14% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  18% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  32% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  33% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  37% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  39% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  43% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  46% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  47% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
  100% {
    color: #F6201D;
    text-shadow: 0 0 15px #F6201D;
  }
}



